<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770956872824-dj8qtvb61reidiaga40dfee17senklsa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770956872824-dj8qtvb61reidiaga40dfee17senklsa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>770956872824-903f6evi7lbmsir7g4fp6rt9rd80mgsi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBYjmMvqkPqfnTucAuNc4freieOzGjD8mc</string>
	<key>GCM_SENDER_ID</key>
	<string>770956872824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tstartup.chat</string>
	<key>PROJECT_ID</key>
	<string>flutter-avc</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-avc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770956872824:ios:c8ff597db6e3eaa5a1b18d</string>
</dict>
</plist>